@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
html, body{
    overflow-x: hidden;
}
body{
    background-color: black;
}
.active-sub-nav{
    background: #3d0b79;
}
.sec-heading {
    text-align: center;
    z-index: 1;
    position: relative;
    top: 0;
    letter-spacing: 1px;
    left: 0;
    padding: 8vh 0;
    padding-top: 16vh;
    /* margin: 35px 0; */
    font-weight: 500;
    /* padding: 20px 0; */
    /* margin-top: 10vh; */
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-family: Generica;
    font-weight: bolder;
  }
  
.container {
    /* display: flex; */
    
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;

    /* margin: auto; */
    /* height: 130vh; */
}
.container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container ul li  button{
    font-size: 1.2rem;
}
#cards_secreteriat , #cards_Tech, #cards_ext_secreteriat, #cards_advisors{
    /* width: 70vw; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    justify-content: center;
    width: 80%;
    margin: 34px auto;
}

#cards_Tech, #cards_ext_secreteriat, #cards_advisors{
    display: none;
}

.card:hover{
    /* background-size: 110%; */
    /* transform: rotate3d(0, 0, 1, -4deg); */
    transform: scale(1.1);
}

.card {
    cursor: pointer;
    position: relative;
    margin: 3px 3px;
    margin-top: 35px;
    transition: 0.5s;
    /* -webkit-box-shadow: 2px -2px 26px -8px rgba(255,255,255,1);
    -moz-box-shadow: 2px -2px 26px -8px rgba(255,255,255,1);
    box-shadow: 2px -2px 16px -8px rgba(255,255,255,1); */
    background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	/* border-radius: 15px; */
	backdrop-filter: blur(10px);
}


.container ul{
    list-style: none;
    /* margin-top: 50px; */
    padding: 38px;
}

ul li{
    display: inline-flex;
    padding: 0px 15px;
    align-items: center;
}

.btn{
    all: unset;
    color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.btn:hover{
    /* background:rgba(255, 255, 255, 0.1); */
    background: #3d0b79;
}


.cards {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* place-items: center; */
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    overflow: hidden;
    background-color: black;
    border: 2px black;
}
.card::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), #121212);
}



.card img {
    height: 100%;
    width: 100%;
}

.content{
    z-index: 100;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px 20px;
}
.content h2{
    font-family: Generica;
    letter-spacing: 2px;
}
.content p{
    font-family: Generica;
    letter-spacing: 2px;
}

@media only screen and (min-width:321px) and (max-width:768px)
{
    .sec-heading{
        font-size: 3rem;
    }
}