@import url(Generica.otf);

@font-face {
  font-family: Generica;
  src: url(Generica.otf)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
  background-color: #000;
}
html, body{
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}



.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#UNGA .left{
  background: url("../assets/Committees BG/United\ Nations\ General\ Assembly.png")
    no-repeat center ;
    
  }
  #UNSC .left{
  background: url("../assets/Committees BG/United\ Nations\ Security\ Council.jpg")
    no-repeat center center ;

}
  #JRS .left{
  background: url("../assets/Committees BG/Jobs\ Reset\ Summit.png")
    no-repeat center / cover;

}
  #G20 .left{
  background: url("../assets/Committees BG/G20.jpg")
    no-repeat center / cover;

}
  #GPS .left{
  background: url("../assets/Committees BG/Global\ Press\ Summit.jpg")
    no-repeat center center / cover;

}
  #UNHRC .left{
  background: url("../assets/Committees BG/United\ Nations\ Human\ Rights\ Council.jpg")
    no-repeat center / cover;

}
  #JCC .left{
  background: url("../assets/Committees BG/Joint\ Crissis\ Committee.jpeg")
    no-repeat center / cover;

}
  #LS .left{
  background: url("../assets/Committees BG/Lok\ Sabha.jpg")
    no-repeat center / cover;

}
.left {
  width: 80%;
  height: 800px;
}
#hero {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  background-color: #000;
  padding-top: 10vh;
}

.sec-heading {
  text-align: center;
  z-index: 1;
  position: relative;
  top: 0;
  letter-spacing: 1px;
  left: 0;
  font-weight: 500;
  padding: 20px 0;
  background-image: linear-gradient(90deg, #5fc9fa, #9752eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.btn {
  /* width: 45%;   */
  display: block;
  padding: 16px;
  background: #3d0b79;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  font-size: 0.8rem;
  transition: all 0.4s;
  margin: auto;
  border: none;
  position: relative;
  cursor: pointer;

}



.right2 {
  width: 50%;
  min-height: 400px;
   background: #121212;
  background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  color: white;
  margin-left: -120px;
  z-index: 1;
}
.right2 h1 {
  font-size: 1.3rem;
}
.right2 p {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1rem;
}

.btn:hover {
  padding:  14px 20px;
}
.imgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000);
}


.imgBox h1 {
  position: absolute;
  bottom: 43px;
  left: -5px;
  font-size: 1.8rem;
  color: white;
  z-index: 1;
  padding: 35px;
  text-align: left;
}

.bg {
  width: 100%;
  height: 100%;
}


/* Responsive */
@media only screen and (max-width:400px){
  .navvbar{
    display: none;
  }
  .sec-heading{
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1008px) {
  .main {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .section{
    margin: 10vh 0;
  }
  .sec-heading{
    font-size: 3rem;
  }
  .left {
    width: 100%;
    height: 600px;
  }
  .right2 {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
  .left h1{
    bottom: 98px;
  }
}