#footer{
    margin-top: 10vh;
}

.foot-main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #121211;
    padding: 10px;
}
.footer-mid, .footer-right, .footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 50px 0;
}
.footer-right{
    justify-content: flex-start;
}
.footer-mid{
}
.footer-mid img{
    height: 7.5rem;
}

.socials{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
i{
    cursor: pointer;
    margin: 0 10px;
    font-size: 2rem;
    color: #6218bd;
}

.footer-bottom{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #121212;
}
.footer-bottom p{
    /* width: 80%; */
    text-align: center;
    
    font-size: 1.5rem;
}
.footer-heading{
    color: #fff;
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    margin-bottom: 1em;
    font-family: var(--generica);
    letter-spacing: 1px;
    padding-top:20px;
}
.address{
    display: flex;
    margin: 30px 0;
}
.main-text{
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.school{
    font-size: 1.2rem;
    line-height: 1.5;
}
.foot-sechead{
    font-size: 1.8rem;
}
.main-text h2{
    font-family: var(--generica);
    letter-spacing: 2px;
    margin: 5px 0;
}

@media screen and (max-device-width: 556px) {
    .main-text h2{
        font-size: 1.1rem;
    }
    .footer-bottom p{
        font-size: 1.1rem;
    }
}