
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(/Generica.otf);
@font-face {
    font-family: "Generica";
    src: url("https://jmun-23.github.io/jmun/Generica.ttf");
    src: url("https://jmun-23.github.io/jmun/Generica.ttf") format("ttf"),
    url("https://jmun-23.github.io/jmun/Generica.otf") format("opentype");
    }
/* NAVBAR */
.navvbar{
    background: linear-gradient(rgba(0, 0, 0, 0.1)25%, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.3)75%, rgba(0, 0, 0, 0.4)100%);
    backdrop-filter: blur(10px);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: auto;
    z-index: 1000;
    height: 10vh;
    font-family: 'Generica' , sans-serif;
}
.active-nav{
    background-color: rgba(22, 22, 22, 0.5);
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 15vh;
    /* overflow: hidden; */
}

.logo img {
    height: 8vh;
}

.navv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:  #3d0b79; */
    background-color: #270550;
    border-radius: 200px;
}

.navv a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    font-family: 'Generica';
    font-weight: 800;
    letter-spacing: 1px;
    transition: all 0.7s ease;
    font-size: 1.2rem;
}

.navv a:hover {
    /* transform: rotateY('360deg'); */
    transform: rotate3d(1, 0, 0, 360deg);
    /* transform: rotate3d(); */
    /* background: rgba(251, 247, 247, 0.1); */
}

.right a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: all 0.4s;
    letter-spacing: 1px;
    font-family: Generica;
    /* background-color: #B476FF; */
    background-color: #270550;
    border-radius: 200px;
    font-weight: 800;
}

.right a:hover {
    background-color: #270550;
}
/* dropdown */
.dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #B476FF;
    background-color: #270550;
    min-width: 260px;
    padding: 4px 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
 }
 .links,.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 }
 .links-hidden{
    display: block;
 }
 .links{
    display: inline-block;
 }
 .links-hidden:hover,.links:hover {
    /* background-color: black;
    color: white; */
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    /* background-color: white; */
 }
/* Hamburger */
#menu {
    display: none;
    z-index: 2;
}

#menu-bar {
    width: 32px;
    height: 35px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

#side-nav {
    transition: 0.3s ease;
    display: none;
}

#side-nav ul {
    padding: 0 22px;
}

#side-nav li {
    list-style: none;
    padding: 7px 0;
}

#side-nav li a, a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#side-nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background-color: #270550;
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -91%);
}

@media screen and (min-device-width: 168px) and (max-device-width: 1300px) {
    .navvbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      
    }
  
    #menu {
      display: block;
    }
  
    .navv,
    .logo {
      display: none;
    }
}  