@import url(/Generica.otf);
@font-face{
    font-family: Generica;
    src:  url(/Generica.otf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Generica;
}

html, body{
  overflow-x: hidden;
}
body{
    color: white;
    background-color: black;
}

#main, .sec2{
    padding: 40px;
    /* padding-top: 12vh; */
    height: 100vh;
    /* background-color: rgb(197, 100, 44); */
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.3); */
    border-radius: 10px;

}
#form1{
    transition: all 0.3s;
}
#form2{
    display: none;
    transition: all 0.5s;
}
.left, .right-sec{
    flex-basis: 50%;
    padding: 10px 10px;
    height: 95vh;
}

.left{
    /* background-color: rgba(0, 0, 0, 0.7); */
    background: #121212;
    ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left > .logo{
    width: 100%;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

.left .logo img{
    height: 11.4rem;
    
}

.content{
    margin: 10px 0;
    width: 100%;
}
.content h2{
    font-size: 2.9rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
}

.content p{
    text-align: center;
    font-size: 1.5rem;
}

.btn-small{
    padding: 10px;
    width: 30%;
    display: block;
    margin: 40px auto;
    /* background: #d6249f; */
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.4s;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.btn-small:hover{
    width: 40%;
}
.btn-small span, .btn-small i{
    flex-basis: 50%;
}

.btn-small span{
    /* display: block; */
    color: white;
    font-size: 18px;
}

.btn-small i{
    font-size: 2rem;
    vertical-align: middle;
    color: white;

}

.right-sec{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 45px 55px;
    color: #121212;
}

.form-heading{
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 10px 0;

}

label, input{
    display: block;
    /* margin: 10px 0; */
}

label{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 8px;
    /* margin: px 0; */
    /* position: absolute;
    bottom: 4px; */
}
/* .form-grp{
    position: relative;
}
input{
    width: 80%;
    border: none;
    background: none;
    font-size: 1.2rem;
    outline: none;
    border-bottom: 2px solid black;
    padding: 2px 0;
} */

.input-data{
    width: 100%;
    height: 30px;
    /* margin: 0 20px; */
    position: relative;
  }

  .input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: none;
  outline: none;
  margin: 60px 0;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #4a089c;
}

.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
  }

  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 1.5px;
    width: 100%;
    background: #4a089c;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  input[type="file"]{
    color: rgba(255, 255, 255, 0.9);
  }
  input[type="file"]::file-selector-button {
    display: none;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scale(1);
  }
  .btn-form2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  .btn-form{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 15vh;
  }
.btn-main{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: all 0.4s;
    letter-spacing: 1px;
    font-family: Generica;
    /* background-color: #B476FF; */
    background-color: #4a089c;
    border-radius: 200px;
    font-weight: 800;
    margin: 30px 0;
    cursor: pointer;
    font-size: 17px;
    border: none;
    
}
.btn-main:hover{
    background-color: #3d0b79;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
.btn-light{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: all 0.4s;
    letter-spacing: 1px;
    font-family: Generica;
    /* background-color: #B476FF; */
    background-color: #4a089c;
    border-radius: 200px;
    font-weight: 800;
    margin: 30px 0;
    cursor: pointer;
    font-size: 17px;
    border: none;
}


/* .btn-main i{
    vertical-align: middle;
    margin: 0 5px;
    font-weight: 200;
} */







/* Committe Preferences */

.s-hidden {
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: black;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    border: 1px solid #ccc;
  }
  
  .styledSelect {
    position: absolute;
    top: 0;
    font-size: 18px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
    margin: 10px;
  }
  
  .styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
  }
  
  .styledSelect:active,
  .styledSelect.active {
    background-color: #eee;
  }
  
  .options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
    font-size: 18px;
  }
  
  .options li:hover {
    background-color: #39f;
    color: white;
  }

  .sec-heading {
    text-align: center;
    z-index: 1;
    position: relative;
    top: 0;
    letter-spacing: 1px;
    left: 0;
    font-family: Generica;
    /* margin: 35px 0; */
    font-weight: bold;
    padding-top: 20vh;
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
  }
  /* Note and committees */

  .sec2{
    height: 180vh;
    /* padding: 10vh 30px; */
  }
  .left2{
    background-color: #121212;
    padding: 20px;
  }
  .right2{
    background-color: #121212;
    padding: 20px;
  }
  

  .left2, .right2{
    padding: 30px 30px;
    margin: 30px 0;
    border-radius: 10px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
  }
  
  .left2 h3, .right2 h3{
    font-size: 2.3rem;
    margin: 10px 0;
  }
  .left2 p{
    margin: 20px 0;
  }
  .left2 .notes, .right2 ol{
    font-size: 19px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .left2 ol li, .right2 ol li{
    margin: 20px 0;
  }
  .right2 ol li{
    list-style: none;
  }
  .heading{
    font-weight: bold;
  }


  @media screen and (min-device-width: 168px) and (max-device-width: 1300px) {
    html{
      font-size: 10px;
    }
    #main{
      height: auto;
    }
    .left{
      padding: 10px 15px 10px;
    }
    .left  .logo img{
      height: 9.4rem;
    }
    .btn-small:hover, .btn-small{
      width: 60%;
    }
    .left{
      width: 100%;
    }
    .sec2{
      height: auto;
    }
    .right2{
      /* display: none; */
    }
    .container{
      flex-direction: column;
    }
    .right-sec{
      padding: 35px;
      width: 100%;
      margin-top: 10px;
      height: 90vh;
    }
  }