@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Roboto ,sans-serif;
}

.left, .right-sec{
    flex-basis: 40%;
    padding: 10px 10px;
    height: 70vh;
    background-color: black;
}


body{
    background-color: black;
}
.active-sub-nav{
    background: #3d0b79;
}
.sec-heading {
    text-align: center;
    z-index: 1;
    position: relative;
    top: 0;
    letter-spacing: 1px;
    left: 0;
    padding: 8vh 0;
    padding-top: 16vh;
    /* margin: 35px 0; */
    font-weight: 500;
    /* padding: 20px 0; */
    /* margin-top: 10vh; */
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-family: Generica;
    font-weight: bolder;
}

.links{
    all: unset;
    display: flex;
    width: 70%;
    height: 10vh;
    background-color: #270550;
    font-family: Generica;
    font-weight: bolder;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin: 3vh 3vh;
    font-size: 1rem;
    border-radius: 100px;
    color:black;
    letter-spacing: 1px;
    transition: 100ms ease-in-out;
}

.links:hover{
   background-color: #3d0b79;
    
}

.right-sec{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 5px; */
}

.links a{
    color: white;
    font-family: Generica;
    font-size: 1.4rem;
    /* padding: 20px; */
}


@media screen and (max-device-width: 556px) {

 .links{
    width: 70%;
    height: 6vh;
 }  

 .links a{
    font-size: 1.5rem;
 }

 .links{
    margin-top: 1.5vh;
 }

}