*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --generica: 'Generica';
    --roboto: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

#main{
    height: 100vh;
    color: white;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%), url("school.jpg");
}

    .sec-heading {
        text-align: center;
        z-index: 1;
        position: relative;
        top: 0;
        letter-spacing: 1px;
        left: 0;
        font-family: var(--generica);
        /* mbackground: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);argin: 35px 0; */
        font-weight: 500;
        padding: 20px 0;
        background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 6rem;
      }

      .sec-para{
        width: 80%;
        font-size: 1.3rem;
        font-family: var(--roboto);
        margin: 20px 0;
      }
      .btn{
        cursor: pointer;
        padding: 10px 20px;
        font-size: 1.3rem;
        background-color:  #B476FF;
        color: black;
        transition: 1s ease;
      }
      .btn:hover{
        padding: 10px 40px;
      }

/* #modal{
    display: none;
    width: 70%;
    background-color: white;
    background: rgba(48, 43, 43, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(20px);
    color: white;
    padding: 40px 50px;
    font-family: var(--roboto);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
    top: 50%;
    font-size: 1.3rem;
    left: 50%;
}
#modal ul{
    margin: 10px 0;
} */
.modal {
  /* background: #fff; */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em;
}
@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em;
  }
}
.modal > label {
  cursor: pointer;
        padding: 10px 30px;
        font-size: 1.3rem;
        background-color:  #3d0b79;
        color: white;
        transition: 1s ease;
        border-radius: 10px;
  transition: all 0.55s;
  font-family: var(--generica);
  /* font-size: 20px; */
  font-weight: bold;
  letter-spacing: 1px;
}
.modal > label:hover {
  width: 40%;
}
.modal__overlay {
  background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	backdrop-filter: blur(10px);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
}
.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  /* max-width: 500px; */
  width: 90%;
}
@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em;
  }
}
@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
  }
}
.modal__wrap label {
  background: #B476FF;
  border-radius: 50%;
  font-size: 1.2rem;
  /* padding: 10px 20px; */
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}
.modal__wrap h2 {
  color: white;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: var(--generica);
  letter-spacing: 1.6px;
  font-size: 3rem;
}
.modal__wrap p{
  font-size: 22px;
  font-family: var(--roboto);
}
/* .modal input:focus ~ label {
  transform: scale(0.97);
} */

input {
  position: absolute;
  top: -1000px;
}

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s;
  z-index: -100;
}

input:checked ~ .modal__overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 800;
}

