@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(/Generica.otf);

@font-face {
    font-family: Generica;
    src: url(/Generica.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --generica: 'Generica';

}

html,
body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}




/* HEADER */

#header {
    position: relative;
    height: 155vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%), url("bg.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 10vh;
    overflow-x: hidden;
}

#header #heroBG {
    height: 145vh;
    background: #000;
    opacity: 0;
    z-index: 20;
    overflow: hidden;
}

h1.reveal {
    background-image: linear-gradient(90deg, #5fc9fa, #9752eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Generica', sans-serif;
}

.reveal {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.reveal.active {
    opacity: 1;
}

.header-container {
    position: absolute;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    padding-top: 3em;
}


.title_ddd {
    margin: 5px 0;
}

.title_ddd h1 {
    font-family: 'Generica', sans-serif;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 2px;
}

.Title {
    margin-bottom: 20px;
}

.Title img {
    height: 20em;
    width: auto;
    cursor: pointer;
}


/* Responsive Paralax */

#reshead {
    display: none;
}

.res-content {
    display: none;
}


.header-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-content h1 {
    color: #fff;
    font-weight: 2000;
    font-size: 4em;
    letter-spacing: 3px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
    margin: 12px 0px;
}

.header-content h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 5px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
    margin: 15px 0px;
}

.header-content p {
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 5px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
}

.countdown {
    display: flex;
    padding-top: 3em;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}

.countdown .timer {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown .timer .numb {
    text-align: center;
    font-size: 55px;
    font-weight: 500;
}

.countdown .timer .text {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    font-family: 'Generica', sans-serif;
}

.countdown .clone {
    font-size: 55px;
}

.page-content {
    background: #000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Letter-Container {
    margin: 0 10px;
    margin-top: 21vh;
    margin-bottom: 3em;
    padding: 3em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #121212;
    border-radius: 7px;
}

.Letter-Container h2 {
    color: #fff;
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    margin-bottom: 1em;
    font-family: var(--generica);
    letter-spacing: 1px;
    padding-top:20px;
}

.Letter-Container p {
    color: rgb(172, 170, 170);
    font-size: 1.3em;
    margin-bottom: 1em;
    padding-bottom: 20px;
}
#committees-sec {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.heading {
    font-size: 7rem;
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    font-family: var(--generica);
    letter-spacing: 1px;
    margin-bottom: 10vh;
}

/* Carousal */



.carousal a {
    text-decoration: none;
}

.carousal input {

    display: none;
}

.buttons_carousel {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crlbttn {
    /* background: #3d0b79; */
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    outline: none;
    border-radius: 500px;
    transition: 0.3s ease-in-out;

}

.crlbttn ion-icon {
    font-size: 1.4em;
    /* color: #fff; */
}

.crl_bg {
    margin-bottom: 15vh;
}

.carousal {
    height: 50vh;
    margin-top: 20vh;
    width: 100vw;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    position: relative;
    padding-left: 13vh;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    z-index: 1219;
}

.cards label {
    position: absolute;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    aspect-ratio: 16/9;
    width: 50vw;
    overflow: hidden;
}

.card {
    overflow: hidden;
    background-color: black;
    border: 2px black;
}



.card img {
    height: 100%;
    width: 100%;
}

.content {
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.2), #000); */
    height: 100%;
}

.gradiant {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000);
    width: 100%;
    height: 102%;
}

.info {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -16vh;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.2), #000); */
    width: 100%;
    height: 30vh;
    transition: 690ms ease-in-out;
}

.info:hover {
    bottom: 0px;
}

.head {
    position: absolute;
    top: 2px;
    text-align: left;
    font-size: 2rem;
    padding-left: 4%;
    font-family: var(--generica);
    font-weight: 500;
    color: white;
}

.head a {
    font-family: var(--generica);
    font-weight: bold;
    letter-spacing: 1px;
}

.agenda {
    text-align: left;
    color: black;
    font-size: 20px;
    padding-left: 4%;
    /* font-weight: 150; */
    margin-top: 10vh;
    color: rgb(172, 170, 170);
}




/* Carousal */



.backimage {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    position: relative;
}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.imgbox {
    position: relative;
    width: 40vmin;
    height: 56vmin;
}
.imgbox::after{
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000);
  z-index: 1;
}
.image{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.txt{
    color: white;
    position: absolute;
    font-family: var(--generica);
    font-size: 1.4rem;
    bottom: 10px;
    z-index: 2;
    padding: 5px;
}

.imgbox a{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.btn{
    all: unset;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.btn ion-icon{
    text-align: center;
    padding: 12px;
    border-radius: 50px;
    transition: all 400ms ease-in-out;
    position: relative;
}

.btn ion-icon:hover{
    background-color: #121212;
}

/*Responsive*/

@media screen and (min-device-width: 168px) and (max-device-width: 1300px) {
    html {
        font-size: 12px;
    }

    .navv,
    .logo,
    #header {
        display: none;
    }

    #reshead {
        position: relative;
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%), url("bg.jpg");
        background-size: 250%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #resbg {
        height: 100vh;
        background: #000;
        opacity: 0;
        z-index: 20;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .reshead-cont {
        z-index: 10;
        /* transform: translate(9%,-220%); */
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }


    .restitle_ddd {
        margin: 5px 0;
    }

    .restitle_ddd h1 {
        font-family: 'Generica', sans-serif;
        font-size: 3em;
        text-align: center;
        letter-spacing: 2px;
    }

    .Titleres {
        margin-bottom: 20px;
    }

    .Titleres img {
        height: 12em;
        width: auto;
        cursor: pointer;
    }

    .header-content {
        display: none;
    }

    .res-content {
        display: block;
    }



    /* Responsive Paralax */

    .res-content {
        display: block;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .res-content h1 {
        color: #fff;
        font-weight: 2000;
        font-size: 3em;
        letter-spacing: 3px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
        margin: 12px 0px;
    }

    .res-content h2 {
        color: #fff;
        font-weight: bolder;
        font-size: 2em;
        letter-spacing: 5px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
        margin: 15px 0px;
    }

    .res-content p {
        color: #fff;
        font-weight: 200;
        font-size: 1em;
        letter-spacing: 5px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
    }

    .rescountdown {
        display: flex;
        padding-top: 0.9em;
        width: 100%;
        height: 100px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;
        font-size: 2.2em;
    }

    .rescountdown .timer {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .timer {
        margin-top: 7px;
    }

    .rescountdown .timer .resnumb {
        text-align: center;
        font-weight: 500;

    }

    .rescountdown .timer .text {
        font-size: 20px;
        text-align: center;
        font-weight: 200;
        font-family: 'Generica', sans-serif;
    }


    h1.resreveal {
        background-image: linear-gradient(90deg, #5fc9fa, #3d0b79);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Generica', sans-serif;

    }

    .resreveal {
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
    }

    .resreveal.active {
        opacity: 1;
    }

    .Letter-Container {
        margin-top: 22vh;
        padding: 10px 14px;
    }

    .backimage {
        height: 50vh;
    }


}

@media screen and (max-device-width: 556px) {

    .res-content h1 {
        font-size: 2.7em;
    }

    .res-content h2 {
        font-size: 1.3em;
        letter-spacing: 1px;

    }

    .rescountdown {
        font-size: 1.8em;
    }

    .rescountdown .timer {
        width: 80px;
    }

    .rescountdown .timer .resnumb {
        font-weight: 400;
    }


    .backimage{
        height: 60vh;
    }

    .heading{
        font-size: 5rem;
    }

}
