@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(/Generica.otf);

@font-face {
    font-family: Generica;
    src: url(/Generica.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --generica: 'Generica';

}

html,
body{
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}




/* HEADER */

#header {
    position: relative;
    height: 155vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%), url("bg.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 10vh;
    overflow-x: hidden;
}

#header #heroBG {
    height: 145vh;
    background: #000;
    opacity: 0;
    z-index: 20;
    overflow: hidden;
}

h1.reveal {
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Generica', sans-serif;
    /* text-transform: lowercase; */
    /* font-weight: 100; */
}

.reveal {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.reveal.active {
    opacity: 1;
}

.header-container {
    position: absolute;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    padding-top: 3em;
}


.title_ddd {
    margin: 5px 0;
}

.title_ddd h1 {
    font-family: 'Generica', sans-serif;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 2px;
    /* text-justify:auto; */
}

.Title {
    margin-bottom: 20px;
}

.Title img {
    /* position: absolute;
    top: 55%;
    /* right: 20%; */
    height: 20em;
    width: auto;
    cursor: pointer;
}


/* Responsive Paralax */

#reshead {
    display: none;
}

.res-content {
    display: none;
}


.header-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-content h1 {
    color: #fff;
    font-weight: 2000;
    font-size: 4em;
    /* text-transform: uppercase; */
    letter-spacing: 3px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
    margin: 12px 0px;
}

.header-content h2 {
    color: #fff;
    font-weight: bolder;
    font-size: 2em;
    /* text-transform: uppercase; */
    letter-spacing: 5px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
    margin: 15px 0px;
}

.header-content p {
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    /* text-transform: uppercase; */
    letter-spacing: 5px;
    opacity: 0;
    font-family: 'Generica', sans-serif;
}

.countdown {
    display: flex;
    padding-top: 3em;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0;
}

.countdown .timer {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown .timer .numb {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.countdown .timer .text {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Generica', sans-serif;
}

.countdown .clone {
    font-size: 55px;
}

.page-content {
    background: #000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Letter-Container {
    margin: 0 10px;
    margin-top: 10vh;
    margin-bottom: 3em;
    padding: 3em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #121212;
    border-radius: 7px;
}

.Letter-Container h2 {
    color: #fff;
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5em;
    margin-bottom: 1em;
    font-family: var(--generica);
    letter-spacing: 1px;
}

.Letter-Container p {
    color: rgb(172, 170, 170);
    font-size: 1.3em;
    margin-bottom: 1em;
}

/* Committees reveal section */
#committees-sec {
    /* height: 70vh; */
    margin-top: 3vh;
    margin-bottom: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background: rgba(0, 0, 0); */
    /* background: #121212; */
}

.heading {
    font-size: 7rem;
    /* color: white; */
    background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
    font-family: var(--generica);
    letter-spacing: 1px;
}

/* Carousal */



.carousal a {
    text-decoration: none;
}

.carousal input {

    display: none;
}

.buttons_carousel {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crlbttn {
    /* background: #3d0b79; */
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    outline: none;
    border-radius: 500px;
    transition: 0.3s ease-in-out;

}

.crlbttn ion-icon {
    font-size: 1.4em;
    /* color: #fff; */
}

.crl_bg {
    margin-bottom: 15vh;
}

.carousal {
    height: 50vh;
    margin-top: 20vh;
    width: 100vw;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    position: relative;
    padding-left: 13vh;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    z-index: 1219;
}

.cards label {
    position: absolute;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    aspect-ratio: 16/9;
    width: 50vw;
    overflow: hidden;
}

.card {
    overflow: hidden;
    background-color: black;
    border: 2px black;
}



.card img {
    height: 100%;
    width: 100%;
}

.content {
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.2), #000); */
    height: 100%;
}

.gradiant {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000);
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -16vh;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.2), #000); */
    width: 100%;
    height: 30vh;
    transition: 690ms ease-in-out;
}

.info:hover {
    bottom: 0px;
}

.head {
    position: absolute;
    top: 2px;
    text-align: left;
    font-size: 2rem;
    padding-left: 4%;
    font-family: var(--generica);
    font-weight: 500;
    color: white;
}

.head a {
    font-family: var(--generica);
    font-weight: bold;
    letter-spacing: 1px;
}

.agenda {
    text-align: left;
    color: black;
    font-size: 20px;
    padding-left: 4%;
    /* font-weight: 150; */
    margin-top: 10vh;
    color: rgb(172, 170, 170);
}


#s1:checked~.cards #slide5,
#s2:checked~.cards #slide6,
#s3:checked~.cards #slide7,
#s4:checked~.cards #slide8,
#s5:checked~.cards #slide1,
#s6:checked~.cards #slide2,
#s7:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-80%, 0, -200px);
}

#s1:checked~.cards #slide6,
#s2:checked~.cards #slide7,
#s3:checked~.cards #slide8,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2,
#s6:checked~.cards #slide3,
#s7:checked~.cards #slide4,
#s8:checked~.cards #slide5 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-60%, 0, -150px);
}

#s1:checked~.cards #slide7,
#s2:checked~.cards #slide8,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3,
#s6:checked~.cards #slide4,
#s7:checked~.cards #slide5,
#s8:checked~.cards #slide6 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-40%, 0, -100px);
}


#s1:checked~.cards #slide8,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4,
#s6:checked~.cards #slide5,
#s7:checked~.cards #slide6,
#s8:checked~.cards #slide7 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-20%, 0, -50px);
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5,
#s6:checked~.cards #slide6,
#s7:checked~.cards #slide7,
#s8:checked~.cards #slide8 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(0%, 0, 0px);
}


#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide6,
#s6:checked~.cards #slide7,
#s7:checked~.cards #slide8,
#s8:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(20%, 0, -50px);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide6,
#s5:checked~.cards #slide7,
#s6:checked~.cards #slide8,
#s7:checked~.cards #slide1,
#s8:checked~.cards #slide2 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(40%, 0, -100px);
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide6,
#s4:checked~.cards #slide7,
#s5:checked~.cards #slide8,
#s6:checked~.cards #slide1,
#s7:checked~.cards #slide2,
#s8:checked~.cards #slide3 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(60%, 0, -150px);
    background-color: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%);
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(22, 22, 22);
}

.footer .content {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 2rem;
}

.footleft,
.footright,
.footmid {
    padding: 20px;
}

.footheading {
    font-size: 1.69rem;
    margin: 10px 0;
    position: relative;
}

.footheading::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.footer a {
    text-decoration: none;
    color: white;
    display: block;
}

.btn-foot {
    all: unset;
    margin: 10px 0;
    font-size: 1.5rem;
}

.footlink {
    margin: 10px 0;
}

.foot-bottom {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Responsive*/

@media screen and (min-device-width: 168px) and (max-device-width: 1300px) {
    .navvbar {
        display: block;
        position: fixed;

    }

    #menu {
        display: block;
    }

    .navv,
    .logo,
    .right,
    #header {
        display: none;
    }

    #reshead {
        position: relative;
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)0%), url("bg.jpg");
        background-size: 250%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* padding-top: 10vh; */
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #resbg {
        height: 100vh;
        background: #000;
        opacity: 0;
        z-index: 20;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .reshead-cont {
        z-index: 10;
        /* transform: translate(9%,-220%); */
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }


    .restitle_ddd {
        margin: 5px 0;
    }

    .restitle_ddd h1 {
        font-family: 'Generica', sans-serif;
        font-size: 3em;
        text-align: center;
        letter-spacing: 2px;
        /* text-justify:auto; */
    }

    .Titleres {
        margin-bottom: 20px;
    }

    .Titleres img {
        height: 12em;
        width: auto;
        cursor: pointer;
    }

    .header-content {
        display: none;
    }

    .res-content {
        display: block;
    }



    /* Responsive Paralax */

    .res-content {
        display: block;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .res-content h1 {
        color: #fff;
        font-weight: 2000;
        font-size: 3em;
        /* text-transform: uppercase; */
        letter-spacing: 3px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
        margin: 12px 0px;
    }

    .res-content h2 {
        color: #fff;
        font-weight: bolder;
        font-size: 2em;
        /* text-transform: uppercase; */
        letter-spacing: 5px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
        margin: 15px 0px;
    }

    .res-content p {
        color: #fff;
        font-weight: 200;
        font-size: 1em;
        /* text-transform: uppercase; */
        letter-spacing: 5px;
        opacity: 0;
        font-family: 'Generica', sans-serif;
    }

    .rescountdown {
        display: flex;
        padding-top: 0.9em;
        width: 100%;
        /* margin-top: 3em; */
        height: 100px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: #fff;
        opacity: 0;
        font-size: 2.5em;
    }

    .rescountdown .timer {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .timer{
        margin: 12px 0px;
        margin-top: 7px;
    }

    .rescountdown .timer .resnumb {
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        /* margin-bottom: 3em; */
    }

    .rescountdown .timer .text {
        text-align: center;
        font-size: 25px;
        font-weight: 200;
        font-family: 'Generica', sans-serif;
    }



    .rescountdown .clone {
        font-size: 55px;
    }

    h1.resreveal {
        background-image: linear-gradient(90deg, #5fc9fa, #fa8b9f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Generica', sans-serif;
        /* text-transform: lowercase; */
        /* font-weight: 100; */
    }

    .resreveal {
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
    }

    .resreveal.active {
        opacity: 1;
    }
    
    .crlbttn {
        /* background: #3d0b79; */
        padding: 10px;
        /* margin: 0 20px; */
    }
    
    .crlbttn ion-icon {
        font-size: 2em;
    }
    
    .crl_bg {
        margin-bottom: 15vh;
    }
    
    .buttons_carousel{
        margin-right: 10vh;
    }

    .carousal {
        height: 20vh;
        margin-top: 20vh;
        width: 100vw;
        display: flex;
        transform-style: preserve-3d;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5vh;
        position: relative;
        margin-right:9vh;
    }
    .card {
        overflow: hidden;
        background-color: black;
        border: 2px black;
    }
    
    .cards label{
        /* aspect-ratio: 16/9; */
        /* height: 20vh; */
        width: 88vw;
    }

    .info{
        bottom: -22vh;

    }

    .head{
        font-size: 1.5em;
    }

    .agenda{
        margin-top: 2vh;
    }

    .heading{
        font-size: 4rem;
    }

}