@import url(/Generica.otf);
@font-face{
    font-family: Generica;
    src:  url(/Generica.ttf)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Generica;
}
html , body{
    overflow-x: hidden;
}
body{
    height: 100vh;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: white;
}
#main img{
    width: 20rem;
}
#main p{
    font-size: 29px;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
}


.back{
    padding: 20px;
    width: 20%;
    font-size: 24px;
    border-radius: 200px;
    cursor: pointer;
    border: 3px solid white;
    outline: none;
    background: black;
    color: white;
    font-weight: 500;

    transition: all 0.4s;
    margin: 10px 0;
}

.back:hover {
    background-color: white;
}

.back:hover a{
    color: black;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}

@media screen and (min-device-width: 168px) and (max-device-width: 1300px) {
    html{
        font-size: 14px;
    }
    .back{
        width: 80%;
    }
}